[submodule ".emacs.d/Emacs-Smali"]
	path = .emacs.d/Emacs-Smali
	url = https://github.com/strazzere/Emacs-Smali
[submodule ".zshrc.d/functions"]
	path = .zshrc.d/functions
	url = https://github.com/MarcVador/zsh-functions
[submodule ".emacs.d/openbsd-knf-emacs"]
	path = .emacs.d/openbsd-knf-emacs
	url = https://github.com/hogand/openbsd-knf-emacs.git
