xterm*termName: xterm-256color

xterm*foreground: rgb:a8/a8/a8
xterm*background: rgb:00/00/00

xterm*loginshell: true

xterm*savelines: 16384

! double-click to select whole URLs :D
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

xterm*ScrollBar: false
! xterm*rightScrollBar: true

! UTF-8 support
XTerm*locale: utf8
XTerm*metaSendsEscape: true

XTerm*visualBell: false

xterm*faceName: DejaVu Sans Mono Book
xterm*faceSize: 10
xterm*vt100*geometry: 120x40

urxvt*foreground: rgb:a8/a8/a8
urxvt*background: rgb:00/00/00
urxvt*loginshell: true

urxvt*savelines: 16384

! double-click to select whole URLs :D
urxvt*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

urxvt*ScrollBar: false
! urxvt*rightScrollBar: true

! UTF-8 support
urxvt*locale: utf8
urxvt*metaSendsEscape: true
